#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#drum-machine {
  background-color: black;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border: 3px solid gold;
  border-radius: 10px;
}

.dugmad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  border-bottom: none;
  padding: 15px;
}

#display {
  background-color: gold;
  width: 300px;
  height: 50px;
  margin: 20px 0px;
  padding-top: 15px;
  color: black;
  font-size: 20px;
  border-radius: 10px;
  border: 3px solid black;

}

.drum-pad {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.drum-pad:hover {
  background-color: gold;
  cursor: pointer;
}

.volume {
  margin-bottom: 20px;
}